.user_container {
  width: 100%;
}

.user_details {
  padding: 10px 10px 10px 10px;
}

.user_content {
  background-color: white;
  width: 250px;
  display: inline-block;
  border-radius: 15px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.profile_content {
  margin-right: 50px;
}

.listing_content {
  position: relative;
}

.listing_container {
  display: inline-block;
  position: absolute;
}

h4 a {
  color: #008080;
  transition: color 0.2s linear;
  text-decoration: none;
}

h4 a:hover, h4 a:focus {
  color: #7FFFD4;
}

.error_message {
  color: red;
  display: inline-block;
  margin-left: 10px;
}

#new_form_container {
  background-color: white;
  border-radius: 20px;
  width: 500px;
  margin-bottom: 15px;
}

.form_input {
  display: inline-block;
}

#listing_name {
  margin-left: 16.7px;
}

#listing_tag_names {
  margin-left: 35.97px;
}

#new_form_container #new_form_contents .text-field {
  padding-bottom: 20px;
}

#new_form_contents {
  padding: 20px 20px 0px 20px;
}

#create_form_title {
  display: inline-block;
  background-color: white;
  border-radius: 20px;
  padding: 0px 20px 0px 20px;
}

#create_form_container {
  margin-bottom: 15px;
}

.field_with_errors {
  display: inline-block;
}